body {
	font: 62.5%/1.4 "Times New Roman", Times, serif;;
}
.header {
    width: 100%;
    background-color: #dde1ee;
    background: url("../img/destaque.jpeg") no-repeat;
    background-size: cover;
    padding-top: 3.5em;
}
    .header .menu {
        color: white;
        font-size: 1.6em;
        text-align: center;
    }      
        .header .menu li {
            background-color: rgba(0, 0, 0, 0.2);
            border-radius: 3px;
            display: inline-block;
            padding: 0.6em;
            margin: 0 0.4em;
            transition: background-color 0.5s;
        }

        .header .menu li:hover {
            background-color: #48A3A6;
        }

        .header .menu a {
            color: inherit;
            font-weight: bold;
            text-decoration: none;
            text-transform: uppercase
        }

.main-painel {
    text-align: center;
}

    .main-painel .sign-up a {
        background-color: #48A3A6;
        border: 1px solid black;
        border-radius: 5px;
        color: white;
        font-size: 1.6em;
        font-weight: bold;
        padding: 1em 1.5em;
        text-decoration: none;
        text-transform: uppercase;
    }