body {
	font: 62.5%/1.4 "Times New Roman", Times, serif;;
}
.anchor-header {
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase
}
.title-header {
    text-transform: uppercase;
    text-shadow: 4px 4px 10px black;
    line-height: 1em;
}
.header {
    width: 100%;
    background-color: #dde1ee;
    background: url("../img/destaque.jpeg") no-repeat;
    background-size: cover;
    padding-top: 3.5em;
    padding-bottom: 5.5em;
}
    .header .menu {
        color: white;
        font-size: 1.6em;
        text-align: center;
    }      
        .header .menu li {
            background-color: rgba(0, 0, 0, 0.2);
            border-radius: 3px;
            display: inline-block;
            padding: 0.6em;
            margin: 0 0.4em;
            transition: background-color 0.5s;
        }

        .header .menu li:hover {
            background-color: #48A3A6;
        }

.jumbotron {
    text-align: center;
}
    .jumbotron .main-panel h1 {
        color: white;
        font-size: 4.4em;
        font-weight: bold;
        padding-top: 0.2em;
    }
    .jumbotron .main-panel h2 {
        color: #76ff40;
        font-size: 3.8em;
        padding: 0.2em 0 1.2em 0;
    }
    .jumbotron .panel-subscribe a {
        background-color: #48A3A6;
        border: 1px solid black;
        border-radius: 10px;
        font-size: 1.6em;
        font-weight: 1000;
        padding: 1.5em 3em;
    }

@media screen and (min-width: 740px) {

    .jumbotron .main-panel h1 {
        font-size: 8em;
    }

    .jumbotron .main-panel h2 {
        font-size: 7.2em;
        padding: 0.2em 0 0.8em 0;
    }
}
/*Panel 'About' Styles*/
.panel-about {
    margin-top: 1.5em;
    text-align: center;
    background-color: white;
}
    .panel-about h2.title-about {
        font: 3em black bold;
    }
    .panel-about h3.subtitle-about {
        font: 2.2em black bold;
        margin-top: .5em;
    }
    .panel-about .about-description {
        margin-top: 1.2em;
    }
    .panel-about .about-description p {
        font-size: 1.5em;
        line-height: 2;
    }

/*Panel Speakers*/
.panel-speakers {
    background-color: #f17e50;
}
    .panel-speakers .about-speaker {
        text-align: center;
        color: white;
        font-weight: bold;
        padding: 3em 5% 0;
    }
        .panel-speakers .about-speaker .title-speakers {
            text-transform: uppercase;
            font-size: 3em;
        }
        .panel-speakers .about-speaker .subtitle-speakers {
            font-size: 2.2em;
        }
    .panel-speakers ul.speakers {
        padding: 2em 5%;
        text-align: center;
    }
        .panel-speakers ul.speakers .speaker {
            display: inline-block;
            background-color: white;
            vertical-align: top;
            margin: 0 0.8em 2em 0.8em;
            border-radius: 5px;
            padding: 1.5em;
            width: 25em;
        }
            .panel-speakers ul.speakers .speaker .speaker-portrait .speaker-image{
                border-radius: 50%;
                width: auto;
                height: auto;
                max-width: 90%;
                max-height: 22em;
            }
            .panel-speakers .speaker-bio {
                font-weight: bold;
                margin-bottom: 0.8em;
            }
            .panel-speakers .speaker-name {
                margin: 0.8em;
            }
            .panel-speakers .speaker-bio,
            .panel-speakers .speaker-name,
            .panel-speakers .speaker-speach {
                font-size: 1.5em;
            }